pkgbase = veeamblksnap-arch-dkms
	pkgdesc = Veeam Agent for Linux kernel modules (DKMS)
	pkgver = 13.1.1.4
	pkgrel = 1
	url = https://s3.m1k.cloud/tools/
	arch = x86_64
	license = GPL
	depends = dkms
	conflicts = blksnap
	source = https://s3.m1k.cloud/tools//blksnap-13.1.1.4-1.noarch.rpm
	source = dkms.conf
	sha256sums = 911c673532ac8973a2614424c419d9ba3268a9f73b3a33499350c53dcb359992
	sha256sums = 21a182149740160df2d3475fad4142a08d8fc850e0234d32922472f7e4aa66fc

pkgname = veeamblksnap-arch-dkms
