pkgbase = plezy-m1k
	pkgdesc = A modern Plex and Jellyfin client, ironashram fork with the TrueHD passthrough and Live TV fixes
	pkgver = 2.20.151
	pkgrel = 1
	url = https://github.com/ironashram/plezy
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk3
	depends = libepoxy
	depends = alsa-lib
	depends = libevdev
	depends = glib2
	depends = wayland
	depends = libglvnd
	depends = libva
	depends = libdrm
	depends = mesa
	depends = libx11
	depends = libxext
	depends = libxcb
	depends = hicolor-icon-theme
	provides = plezy=2.20.151
	conflicts = plezy
	noextract = plezy-m1k-2.20.151.tar.gz
	source = plezy-m1k-2.20.151.tar.gz::https://github.com/ironashram/plezy/releases/download/2.20.151/plezy-linux-x64.tar.gz
	source = https://github.com/ironashram/plezy/raw/2.20.151/linux/packaging/com.edde746.plezy.desktop
	source = https://github.com/ironashram/plezy/raw/2.20.151/assets/plezy.svg
	source = https://github.com/ironashram/plezy/raw/2.20.151/assets/plezy.png
	sha256sums = 7bb166ba968226830443d75b1081539611e52721c2eb580da543c0c5fcf8ae7d
	sha256sums = fe0562829eedf1ad979e4a26e936a3e7e133c0360a2418a39d6b686f4b64e4b8
	sha256sums = 0ae31068bbfdd6e8ec40c16c0759825d430da8b9ac47d7b8ab4c17d7f208ee5e
	sha256sums = 8797e88801616f539799a4647fc42a37caa69e689dbf4321acd588fbd054d919

pkgname = plezy-m1k
