pkgbase = openconnect-fortinet-saml
	pkgdesc = Open client for Cisco AnyConnect VPN with Fortinet SAML/SSO support
	pkgver = 1.0.4
	pkgrel = 1
	epoch = 1
	url = https://github.com/ironashram/openconnect-fortinet-saml
	arch = x86_64
	license = LGPL-2.1-only
	checkdepends = python-flask
	makedepends = intltool
	makedepends = python
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkgconf
	depends = libxml2
	depends = gnutls
	depends = libproxy
	depends = vpnc
	depends = krb5
	depends = lz4
	depends = pcsclite
	depends = stoken
	depends = tpm2-tss
	depends = oath-toolkit
	depends = libproxy
	depends = libp11-kit
	depends = xdg-utils
	depends = libstoken.so
	depends = libtss2-esys.so
	depends = libtss2-mu.so
	depends = libtss2-tctildr.so
	depends = libxml2.so
	depends = libproxy.so
	depends = libhogweed.so
	depends = libp11-kit.so
	depends = libpskc.so
	depends = libgssapi_krb5.so
	depends = libpcsclite.so
	optdepends = python: tncc-wrapper
	provides = openconnect
	provides = libopenconnect.so
	conflicts = openconnect
	options = !emptydirs
	source = openconnect-fortinet-saml-1.0.4.tar.gz::https://github.com/ironashram/openconnect-fortinet-saml/archive/refs/tags/v1.0.4.tar.gz
	sha256sums = bf68c0123e58b98610c4b71897999029b336efb266f284936231485e6f129f23

pkgname = openconnect-fortinet-saml
