pkgbase = jellyfin-m1k-web
	pkgdesc = Web client for Jellyfin, pinned build paired with jellyfin-m1k-server
	pkgver = 12.1
	pkgrel = 1
	url = https://jellyfin.org
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	provides = jellyfin-web=12.1
	conflicts = jellyfin-web
	source = jellyfin-web::git+https://github.com/jellyfin/jellyfin-web#tag=v12.1
	sha256sums = dde306cda077d4f8260a37ab0b4246c2be53d281d862b4741f501cc2b2d6ea80

pkgname = jellyfin-m1k-web
