pkgbase = jellyfin-m1k-server
	pkgdesc = Jellyfin server backend with per-device profile overrides
	pkgver = 12.1
	pkgrel = 1
	url = https://jellyfin.org
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = dotnet-sdk-10.0
	makedepends = aspnet-targeting-pack-10.0
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = aspnet-runtime-10.0
	depends = bash
	depends = sqlite
	depends = fontconfig
	depends = jellyfin-m1k-ffmpeg
	depends = jemalloc
	optdepends = jellyfin-m1k-web: to run web-app on the same machine
	optdepends = noto-fonts: for text titles in library folders
	provides = jellyfin-server=12.1
	conflicts = jellyfin-server
	options = !debug
	backup = etc/jellyfin/logging.json
	backup = etc/jellyfin/jellyfin.env
	source = jellyfin::git+https://github.com/jellyfin/jellyfin#tag=v12.1
	source = jellyfin-packaging::git+https://github.com/jellyfin/jellyfin-packaging#tag=v12.1-202609142034
	source = sysusers.conf
	source = tmpfiles.conf
	source = fix-envfile-path.patch
	source = use-system-jemalloc.patch
	source = device-profile-overrides.patch
	sha256sums = 25f4e76acfc5a28a348533f83047cd7c0f3c3fb93e169a3030be166be2cdaf6e
	sha256sums = 2489e3b6e338209682a5b057982e87d1b8d8b7e00fc6caec10c30dc47b6ba28b
	sha256sums = 53c80d0467e4d0104120d617fda5f4a9308daaee1328cdd2b59c7bddf0b3b1e3
	sha256sums = 67766e0cca84127ea8f648b1b2e781fdeaeda931ab452ce7045c5de620b88d8d
	sha256sums = 1feeb29c0344194cb0e268caafaf7116b71f5f44b2962a1068f5c187b1e81a6d
	sha256sums = 377c9bd13120431ba71e311b907644722c5cc9b9115793ad0d7f25adda7d99c6
	sha256sums = 984fe87665debb24d8f469f37afe1e9785042831c70412676e96d4b5f3e71893

pkgname = jellyfin-m1k-server
